body {
    background-color: lightslategray
}

h1 {
    text-align: center;
    color: white;
    font-size: 4em
}

.container {
    display: flex;
    flex-flow: column wrap;
}

#newJoke, #answer-btn {
    margin: 2em 30%;
    border-radius: 8px;
    font-size: 2em
}

.answers {
    text-align: center;
    color: white;
    font-size: 2em
}

